h3.contents {
    text-align: center;
}

html {
    font-size: 16px;
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Open Sans", sans-serif;
}

body {
    margin: auto;
    padding: 1.25em 1.5em 1.5em 1.5em;
    background: whitesmoke;
}


a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    display: block;
}

/*.line {
    //margin-top: -1px;
    border: 1px solid #a7d7f9;
    border-right-width: 0px;
}*/

.box {
    margin-top: -1px;
    border: 1px solid #a7d7f9;
    border-right-width: 0px;
    padding: 30px;
    background: white;
}

li::marker {
    content: ' ';
}

.mycontent {
    margin: auto;
    border: 1px solid darkslategray;
    width: 300px;
    display: table;
}

#content {
    margin: 10px 10px 20px 0;
}

#pred {
    color: red;
}

#marine {
    color: darkblue;
}

#alien {
    color: green;
}