h3.contents {
    text-align: center;
}

.p_maincolor {
    color: darkred;
}

.a_maincolor {
    color: darkgreen;
}

.m_maincolor {
    color: darkslateblue;
}

html {
    font-size: 16px;
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Open Sans", sans-serif;
}

body {
    margin: auto;
  //  padding: 1.25em 1.5em 1.5em 1.5em;
    background: whitesmoke;
    //max-width: 1000px;
}

p, li {
    line-height: 1.5;
    letter-spacing: 1px;
}

.fix_image {
    max-width: 500px;
}

.fix_image2 {
    max-width: 500px;
    max-height: 350px;
}

.fix_image3 {
    max-width: 500px;
    max-height: 400px;
}

.explore-navigation {
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    position: absolute;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    display: block;
}

/*.line {
    //margin-top: -1px;
    border: 1px solid #a7d7f9;
    border-right-width: 0px;
}*/

.box {
    margin-top: -1px;
    margin-left: 10em;
    border: 1px solid #a7d7f9;
    border-right-width: 0px;
    padding: 30px;
    background: white;
}

.cont_m li::marker {
    content: ' ';
}

.mycontent {
    margin: auto;
    border: 1px solid darkslategray;
    width: 300px;
    display: table;
}

#content {
    margin: 0 0 20px 0;
    font-size: 95%;
    box-sizing: border-box;
}

#pred {
    color: red;
}

#marine {
    color: darkblue;
}

#alien {
    color: green;
}