<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>My app title</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" href="../tudo_que_aprendi/static/images/MASKA0.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Classes: Actor</h1>
    <p>Actor (internally AActor) is the base class for all ZScript and DECORATE actors. When a parent class isn't declared in an actor definition, it uses Actor as the parent.</p>
    <p>Actor contains and defines all the code to manage map objects such as decorations, monsters, powerups, players, and many more.
        It itself is derived from Thinker, which is the parent class for most classes that perform some kind of actions in
        the game's world — for example, a door or a crushing ceiling is a Thinker too, but not an Actor.
        Thinker itself is derived from Object, which is the base class for all classes and one of the main data structures in ZScript, alongside Structs.
    </p>
</body>
</html>