<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>AVP Central</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" href="../tudo_que_aprendi/static/images/MASKA0.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box" role="main">
        <h1 class="line">Main page</h1>
        <hr>
        <p>First, this is a collection of information of the AVP Franchise, in this website I'll explain the theories and stories of AVP
        at the best of my abilities, since I was a child I'm a fan of AVP, at first the xenomorph was the one I thought was cooler,
        but now I believe it's the Predator.</p>
        <p>In ZScript state behavior and data is handled by the State struct</p>
        <div id="content" class="mycontent">
            <h3><strong>Contents</strong></h3>
            <ol>
                <li>Stories</a>
                    <ul>
                        <li><span>1.1</span>
                            <span>Predator</span></li>
                        <li>Xenomorph</li>
                        <li>Humans and Earth</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>