<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>AVP Central</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" href="../tudo_que_aprendi/static/images/MASKA0.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box" role="main">
        <h1 class="line">Main page</h1>
        <hr>
        <p>First, this is a collection of information of the AVP Franchise, in this website I'll explain the theories and stories of AVP
        at the best of my abilities, since I was a child I'm a fan of AVP, at first the xenomorph was the one I thought was cooler,
        but now I believe it's the Predator.</p>
        <div id="content" class="mycontent">
            <h3 class="contents"><strong>Contents</strong></h3>
            <ol>
                <li><span>1</span>
                    <span>Stories</span>
                    <ul>
                        <li>
                            <span>1.1</span>
                            <span>Predator</span></li>
                        <li><span>1.2</span>
                            <span>Xenomorph</span></li>
                        <li><span>1.3</span>
                            <span>Humans and Earth</span></li>
                    </ul>
                </li>
            </ol>
        </div>
        <h2>Stories</h2>
        <hr>
        <h3>Predator</h3>
        <div>
            <p id="pred">Origin</p>
            <p>The Predator design was originally made by <a href="https://avp.fandom.com/wiki/Stan_Winston">Stanley Winston</a>,
                the final product was used in the film <a href="https://youtu.be/XY6d4LGd8YM?si=3VzpU1kQ8p7dzWMh">The Predator 1987</a>
                , if you didn't watched the film, go there and watch it, for this day in 08/05/2026 is available in Netflix, Disney+ and
                in other websites where people conserve films.
            </p>
            <p>In the film we see that this monster is humanoid and use tools just like us, but is a savage that hunts only
                dangerous prey, we learn in the start of the film that it already destroyed an extraction helicopter and ambushed and killed the second best
                team of american operatives of the whole world, leaving the corpses hanged from the trees without their skin.
            </p>
            <p>We also learn that this isn't the first time, since even the Indians have stories of this killer. They called him
                the <em>El Demonio que Hace Trofeos de Hombres</em>
            </p>
            <img src="../static/imgs/Invisible.avif" alt="The Predator with invisibility, image taken from the film">
            <p>It is in this film all the basic characteristics was placed, the predator uses invisibility to stalk and attack, it uses
                advanced weaponry like a plasma caster, it hunts using thermal vision, it has super strength and is very agile, it is
                capable of jumping tree to tree effortlessly, dragging full grown man while at it and it only appears when its very hot.
            </p>
            <p>Naturally it had made success and the Predator now has a place in the horror films.</p>
        </div>
        <h3>Xenomorph</h3>
        <div>
            <p id="alien">Origin</p>
            <p>The alien was also made for a film, it first appears in ALIEN of 1979, directed by <a href="https://pt.wikipedia.org/wiki/Ridley_Scott">Ridley Scott</a>,
                if you didn't watched, is also in Disney+.</p>
            <p>The film takes place in the future, we see a ship in space and the crew hibernating, there are men and woman in the ship
                they are awoken by the ship AI, they didn't reach earth and are only half-way from there and that the AI picked a distress signal, we learn that the ship of the crew is from Weyland-Yutani company and by the company standards
                they must investigate the signal.
            </p>
            <p>We learn pretty quickly that the signal came from an empty planet, they don't know what it means nor where exactly it came from, but the ship is damaged on landing
                they send two workers to go check where the signal came from, we see a ship that is clearly not made by man, and there's some kind of eggs in it, one of the worker
                carelessy approach the egg and have its suit breached, we now have something in his face. And this is where it really begins the monster.
            </p>
        </div>
    </div>
</body>
</html>