<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>My app title</title>
</head>
<body>
    <h1>Teste de texto do meu site</h1>
    <h2>Vamo ver se ta certo</h2>
    <h3>Man bixo, vai la</h3>
    <h4>Meu negro yamato</h4>
    <p>Paragraph</p>
    <ul>
        <li>What we have here</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <!--
    <img src="{{ url_for('static', filename='Predator.avif') }}" alt="Predator">
    -->
    <img src="images/Predator.avif" alt="Predator/Yautja">
    <a href="https://www.moddb.com/mods/avp-doom-moonlighter74-edition"> AVP Doom 3.0</a>
</body>
</html>