<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>My app title2</title>
    <link href="../static/styles/style.css" rel="stylesheet">
    <link rel="icon" href="../static/images/MASKA0.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <p>Hi, I'm Moonlighter74</p>
    <p>In my experience with AVP Doom I learned I need to go into documentation and use all the functions, learn them, build and deconstruct.
</p>
</body>
</html>